* {
  box-sizing: border-box; }

.inner {
  position: relative; }

.in_title {
  min-width: 600px;
  height: 60px;
  background: #f0f3f6;
  font-size: 12px;
  color: #4f5f6f;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: 60px; }
  .in_title a {
    color: #4f5f6f; }
    .in_title a:hover {
      color: #e76354; }

.error {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(../images/404.png) no-repeat;
  background-position: left center;
  padding: 100px 0 20px 150px; }
  .error h5 {
    font-size: 24px;
    color: #4f5f6f;
    margin-bottom: 5px; }
  .error p {
    font-size: 12px;
    color: #6c747c; }
    .error p span {
      color: #e76354; }
  .error a {
    display: block;
    width: 70px;
    height: 30px;
    background: #e76354;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px; }
