@charset "UTF-8";
.inner .title {
  min-width: 1590px;
  height: 60px;
  background: #f0f3f6;
  font-size: 12px;
  color: #4f5f6f;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: 60px;
}

.inner .title a {
  color: #4f5f6f;
}

.inner .matter {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  min-width: 1560px;
}

.inner .matter .top {
  width: 100%;
  height: 32px;
  color: #6c747c;
  font-size: 12px;
}

.inner .matter .top span {
  float: left;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
}

.inner .matter .top input[type=text] {
  width: 110px;
  height: 32px;
  border: 1px solid #ccc;
  float: left;
  line-height: 32px;
  font-size: 12px;
  color: #6c747c;
}

.inner .matter .top span.date {
  margin-left: 10px;
  padding-top: 4px;
  background: url("../images/icon-sex.png") no-repeat center center;
}

.inner .matter .top span.date.on {
  background: url("../images/icon-sexxz.png") no-repeat center center;
}

.inner .matter .top span.date input[type=radio] {
  opacity: 0;
  /*兼容IE8*/
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.inner .matter .top select {
  float: left;
  width: 100px;
  height: 32px;
  line-height: 28px;
  margin-left: 10px;
  font-size: 12px;
  color: #6c747c;
}

.inner .matter .top input[type=button] {
  float: left;
  border: none;
  width: 65px;
  height: 32px;
  color: #fff;
  margin-left: 5px;
  font-size: 12px;
  background: #e76354;
  outline: none;
  cursor: pointer;
}

.inner .matter .top input[type=button]:hover {
  background: #ed5746;
}

.inner .matter .top input[type=button].color {
  background: #e64b3a;
}

.inner .matter .middle {
  margin-top: 15px;
}

.inner .matter .middle tr {
  border: 1px solid #ccc;
}

.inner .matter .middle tr th {
  padding-left: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #4f5f6f;
  text-align: left;
  box-sizing: border-box;
  height: 40px;
}

.inner .matter .middle tr td {
  padding-left: 15px;
  font-size: 12px;
  color: #6c747c;
  height: 40px;
}

.inner .matter .middle tr td.imprest a, .inner .matter .middle tr td.final a, .inner .matter .middle tr td.all a, .inner .matter .middle tr td.end a, .inner .matter .middle tr td.handsel a {
  color: #456aa9;
}

.inner .matter .middle tr td.imprest a:hover, .inner .matter .middle tr td.final a:hover, .inner .matter .middle tr td.all a:hover, .inner .matter .middle tr td.end a:hover, .inner .matter .middle tr td.handsel a:hover {
  color: #ed5746;
}

.inner .matter .middle tr td.operate a {
  color: #456aa9;
  margin-left: 5px;
}

.inner .matter .middle tr td.operate a:hover {
  color: #ed5746;
}

.inner .matter .middle thead tr {
  background: #f7f8fa;
}

.inner .matter .middle tbody tr:hover {
  background: #f7f8fa;
}
