.in_title{
  min-width: 900px;
  height: 60px;
  background: #f0f3f6;
  font-size: 12px;
  color: #4f5f6f;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: 60px;
  a{
    color: #4f5f6f;
    &:hover{
      color: #e76354;
    }
  }
}
.in_inner{
  width: 900px;
  height: 500px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
  li{
    width: 100%;
    height: 32px;
    margin-top: 15px;
    background: url(../images/undefined.png)no-repeat;
    background-position: 360px center;
    line-height: 32px;
    font-size: 12px;
    color: #6c747c;
    .span{
      width: 100px;
      height: 100%;
      float: left;
      font-size: 12px;
      color: #6c747c;
      line-height: 32px;
      text-align: right;
    }
    input[type="text"]{
      width: 240px;
      height: 30px;
      border: 1px solid #c5cad0;
      line-height: 30px;
      color: #6c747c;
    }
    select{
      width: 240px;
      height: 30px;
      border: 1px solid #c5cad0;
    }
    span{
      margin-left: 34px;
      font-size: 12px;
      color: #6c747c;
    }
      span.pay_list_c1{
        background: url(../images/s.png) no-repeat;
        margin-left: 8px;
        margin-right: 6px;
        input[type="radio"]{
          opacity: 0;
          filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
          cursor: pointer;
        }
      }
      span.pay_list_c1.on{
        background: url(../images/s1.png) no-repeat;
      }
      span.pay_list_c2{
        margin-left: 10px;
        background: url(../images/che1.png) no-repeat;
        input[type="checkbox"]{
          opacity: 0;
          filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
          cursor: pointer;
        }
      }
      span.pay_list_c2.on{
        background: url(../images/che2.png) no-repeat;
      }
    i{
      font-size: 12px;
      color: #ff1f1f;
    }
  }
  li.true{
    background: url(../images/true.png)no-repeat;
    background-position: 360px center;
  }
  li.false{
    background: url(../images/false.png)no-repeat;
    background-position: 360px center;
    span{
      color: #fa5b46;
    }
  }
  li.undefined{
    background: #fff;
  }
  a{
    display: block;
    width: 80px;
    height: 32px;
    background: #e76354;
    margin-left: 100px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    float: left;
    &:hover{
      background: #ed5746;
    }
  }
  a.fasle{
    margin-left: 10px;
    background: #5d7fa2;
    &:hover{
      background: #4578af;
    }
  }
}