.in_title {
  min-width: 900px;
  height: 60px;
  background: #f0f3f6;
  font-size: 12px;
  color: #4f5f6f;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: 60px; }
  .in_title a {
    color: #4f5f6f; }
    .in_title a:hover {
      color: #e76354; }

.in_inner {
  width: 900px;
  height: 500px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left; }
  .in_inner li {
    width: 100%;
    height: 32px;
    margin-top: 15px;
    background: url(../images/undefined.png) no-repeat;
    background-position: 360px center;
    line-height: 32px;
    font-size: 12px;
    color: #6c747c; }
    .in_inner li .span {
      width: 100px;
      height: 100%;
      float: left;
      font-size: 12px;
      color: #6c747c;
      line-height: 32px;
      text-align: right; }
    .in_inner li input[type="text"] {
      width: 240px;
      height: 30px;
      border: 1px solid #c5cad0;
      line-height: 30px;
      color: #6c747c; }
	      .in_inner li input[type="password"] {
      width: 240px;
      height: 30px;
      border: 1px solid #c5cad0;
      line-height: 30px;
      color: #6c747c; }
    .in_inner li select {
      width: 240px;
      height: 30px;
      border: 1px solid #c5cad0; }
    .in_inner li span {
      margin-left: 34px;
      font-size: 12px;
      color: #6c747c; }
    .in_inner li span.pay_list_c1 {
      background: url(../images/s.png) no-repeat;
      margin-left: 8px;
      margin-right: 6px; }
      .in_inner li span.pay_list_c1 input[type="radio"] {
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        cursor: pointer; }
    .in_inner li span.pay_list_c1.on {
      background: url(../images/s1.png) no-repeat; }
    .in_inner li span.pay_list_c2 {
      margin-left: 10px;
      background: url(../images/che1.png) no-repeat; }
      .in_inner li span.pay_list_c2 input[type="checkbox"] {
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        cursor: pointer; }
    .in_inner li span.pay_list_c2.on {
      background: url(../images/che2.png) no-repeat; }
    .in_inner li i {
      font-size: 12px;
      color: #ff1f1f; }
  .in_inner li.true {
    background: url(../images/true.png) no-repeat;
    background-position: 360px center; }
  .in_inner li.false {
    background: url(../images/false.png) no-repeat;
    background-position: 360px center; }
    .in_inner li.false span {
      color: #fa5b46; }
  .in_inner li.undefined {
    background: #fff; }
  .in_inner a {
    display: block;
    width: 80px;
    height: 32px;
    background: #e76354;
    margin-left: 100px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    float: left; }
    .in_inner a:hover {
      background: #ed5746; }
  .in_inner a.fasle {
    margin-left: 10px;
    background: #5d7fa2; }
    .in_inner a.fasle:hover {
      background: #4578af; }
