.inner .title {
  min-width: 1457px;
  height: 60px;
  background: #f0f3f6;
  font-size: 12px;
  color: #4f5f6f;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: 60px;
}

.inner .title a {
  color: #4f5f6f;
}

.inner .matter {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  min-width: 1425px;
}

.inner .matter .top {
  width: 100%;
  height: 32px;
  color: #6c747c;
  font-size: 12px;
  line-height: 32px;
}

.inner .matter .top input {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  width: 245px;
  height: 30px;
  line-height: 30px;
  /* outline: none;*/
  color: #6c747c;
}

.inner .matter .top select {
  float: left;
  width: 120px;
  height: 32px;
  margin-left: 10px;
  /*outline: none;*/
  font-size: 12px;
  color: #6c747c;
}

.inner .matter .top span {
  float: left;
  margin-left: 10px;
}

.inner .matter .top #search {
  float: left;
  border: none;
  width: 65px;
  height: 32px;
  color: #fff;
  font-size: 12px;
  background: #e76354;
  outline: none;
  cursor: pointer;
}

.inner .matter .top #search:hover {
  background: #ed5746;
}

.middle {
  margin-top: 15px;
}

.middle tr {
  border: 1px solid #ccc;
}

.middle tr th {
  padding-left: 25px;
  font-weight: 500;
  font-size: 14px;
  color: #4f5f6f;
  text-align: left;
  box-sizing: border-box;
  height: 40px;
}

.middle tr td {
  padding-left: 25px;
  font-size: 12px;
  color: #6c747c;
  height: 40px;
}

.middle tr td#significance span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 1px;
  background: url("../images/icon-heartBox.png");
}

.middle tr td#significance.one span:first-child {
  background: url("../images/icon-heart.png");
}

.middle tr td#significance.two span:first-child, .middle tr td#significance.two span:first-child + span {
  background: url("../images/icon-heart.png");
}

.middle tr td#significance.three span:first-child, .middle tr td#significance.three span:first-child + span, .middle tr td#significance.three span:first-child + span + span {
  background: url("../images/icon-heart.png");
}

.middle tr td#significance.four span:first-child, .middle tr td#significance.four span:first-child + span, .middle tr td#significance.four span:first-child + span + span, .middle tr td#significance.four span:first-child + span + span + span {
  background: url("../images/icon-heart.png");
}

.middle tr td#significance.five span:first-child, .middle tr td#significance.five span:first-child + span, .middle tr td#significance.five span:first-child + span + span, .middle tr td#significance.five span:first-child + span + span + span, .middle tr td#significance.five span:first-child + span + span + span + span {
  background: url("../images/icon-heart.png");
}

.middle thead tr {
  background: #f7f8fa;
}

.middle tbody tr:hover {
  background: #f7f8fa;
}
